<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">
		
		<section class="jumbotron text-center">			
			<img class="d-block mx-auto" th:src="@{/image/spring-security.png}"
				width="72" height="72">
			<div class="container">
				<h1 class="jumbotron-heading">Sistema de Gerenciamento Administrativo</h1>
				<p class="lead text-muted">Clube XPTO</p>
			</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container d-flex justify-content-center align-items-center">

				<div class="row">
					<div class="col-md-12">
						<div>
							<div th:replace="fragments/alert :: alerta-sucesso"></div>
						</div>					
						<form th:action="${agendamento.id == null} ? @{/agendamentos/salvar} : @{/agendamentos/editar}" 
							th:object="${agendamento}"
							method="POST" class="was-validated">
							
		                    <div class="mb-3">
		                        <label for="tipoServico">Selecione o tipo de servico desejado</label>
				                        <select id="tipoServico" class="form-control" th:field="*{servico.tipoServico}" onChange="updateServico()">
				                            <option value="">Selecione...</option>
				                            <option th:each="t : ${tipoServicos}" th:value="${t}" th:text="${t.descricao}"></option>
				                        </select>
		                    </div>
									  									    
							<div class="form-row" id="dataInicio">								
								<div class="form-group col-mb-3">
									<small class="form-text text-muted">Selecione 
										a data da reserva</small>
									<input class="form-control" type="date" id=dtInicio 
										th:field="*{dataInicio}" onblur="validaDataInicio()" required/>
									<div class="invalid-feedback">
								      Data início da reserva é obrigatória.
								    </div>	
								</div>
							</div>
							<div class="form-row" id="dataFim">								
								<div class="form-group col-mb-3">
									<small class="form-text text-muted">Selecione 
										a data da reserva</small>
									<input class="form-control" type="date" id="dtFim" 
										th:field="*{dataFim}"  />
									<div class="invalid-feedback">
								      Data final de reserva é obrigatória.
								    </div>	
								</div>
							</div>
							<div class="form-row" id="listaServico">
								<div class="form-group col-md-12">
									<small id="hr-small" class="form-text text-muted">Indique qual o serviço desejado</small>
									<select id="servicos" class="custom-select" size="5" 
										th:field="*{servico.id}" required>
									  	<option th:value="*{servico.id}" 
									  			th:text="*{servico.titulo}"></option>
									</select>
									<div class="invalid-feedback">É necessário selecionar o serviço</div>
								</div>
							</div>
							
							<input type="hidden" th:field="*{id}"/>							
							<div class="form-group row">
								<div class="col-sm-10">
									<button id="btn-salvar" type="submit" class="btn btn-primary" 
										data-toggle="tooltip" data-placement="right" title="Salvar">
										<i class="fas fa-save"></i>
									</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>

		</main>
		
	</section>
	<script	th:src="@{/js/agendamento.js(v=${version})}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript">
	$('#dtFim').on('blur', function () {
		carregaServico();
	});
	
	function updateServico() {
		$('#dtInicio').val("");
		$('#dtInicio').val("");	
		$("#servicos").empty();
		$("#dataInicio").hide();
		$("#dataFim").hide();
		var select = document.getElementById('tipoServico');
		var tipoServico = select.options[select.selectedIndex];
		$("#dataInicio").show();
		if (tipoServico.value == "CHALE") {
			  $("#dataFim").show();
			} 
	};
	

	function validaDataInicio(){
		if (tipoServico.value != "CHALE"){
			carregaServico();
		}
	};
	
	function validaDataFim(){
		carregaServico();
	};
	
	function carregaServico() {
		$("#servicos").empty();
		if (tipoServico.value != "CHALE"){
			var dtInicio =  $('#dtInicio').val();
			var dtFim    = $('#dtInicio').val();
		} else {
			var dtInicio =  $('#dtInicio').val();
			var dtFim    = $('#dtFim').val();			
		}		
		console.log('Data Início -> '+ dtInicio);
		console.log('Data fim -> '+ dtFim);		
		$.get('/agendamentos/servico/'+ tipoServico.value + '/dataIni/' + dtInicio + '/dataFim/'+dtFim, function( result ) {
            $.each(result, function (k, v) {
                $("#servicos").append( 
                    '<option class="op" value="'+ v.id +'">'+ v.titulo + '</option>'
                );	            			
            });
        });		
	}
	
	/*[# th:if="${agendamento.servico != null}" ]*/	
		$( document ).ready(function() {
			$("#dataInicio").hide();
			$("#dataFim").hide();			
			var id = [[${agendamento.servico.id}]];
			var titulo = [(${#strings.concat("'",agendamento.servico.titulo,"'")})];
			$.get( "/servicos/servico/titulo/" + titulo, function( result ) {
				$.each(result, function (k, v) {
					$("#servicosDisponiveis").append(
						 '<div class="custom-control custom-radio">'
						+  '<input class="custom-control-input" type="radio" id="customRadio'+ k +'" name="servico.id" value="'+ v.id +'" required '+ (v.id == id ? "checked" : "")+' />'
						+  '<label class="custom-control-label" for="customRadio'+ k +'">'+ v.nome +'</label>'
						+'</div>'
					);
				});
			});
		});

	/*[/]*/
	</script>
</body>
</html>