<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
	layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>

	<section class="layout-content" layout:fragment="corpo">
		<main role="main">

		<section class="jumbotron text-center">
			<img class="d-block mx-auto" th:src="@{/image/spring-security.png}"
				width="72" height="72">
			<div class="container">
				<h1 class="jumbotron-heading">Sistema de Gerenciamento Administrativo</h1>
				<p class="lead text-muted">Clube XPTO</p>
			</div>
		</section>

		<div class="album py-5 bg-light">
			<div class="container">

				<div class="d-flex justify-content-center">
					<div class="col-md-8 ">

						<div th:replace="fragments/alert :: alerta-sucesso"></div>

						<form th:action="${associado.id == null} ? @{/associados/salvar} : @{/associados/editar}" 
								th:object="${associado}" method="POST" class="was-validated">

							<div class="mb-3">
								<label for="email">Email</label>
								<div class="input-group">
									<div class="input-group-prepend">
										<span class="input-group-text" 
												id="validationTooltipUsernamePrepend">@</span>
									</div>
									<input type="email" class="form-control" id="email"
										placeholder="Email" aria-describedby="validationTooltipUsernamePrepend"
										   th:field="*{usuario.email}" required readonly/>
									<div class="invalid-feedback">Email é requerido.</div>
								</div>
							</div>
							
							<div class="mb-3">
								<label for="nome">Nome Completo</label>
								<div class="input-group">
									<input type="text" class="form-control" id="nome" placeholder="insira seu nome completo" 
											aria-describedby="validationTooltipUsernamePrepend"
										    th:field="*{nome}" required />
									<div class="invalid-feedback">Nome é requerido.</div>
								</div>
							</div>

							<div class="mb-3">
								<label for="cpf">Número CPF (somente números)</label>
								<div class="input-group">
									<input type="text" class="form-control" id="CPF" placeholder="insira o número do CPF" 
											aria-describedby="validationTooltipUsernamePrepend"
										    th:field="*{CPF}" required />
									<div class="invalid-feedback">O CPF é requerido.</div>
								</div>
							</div>							
							<div class="mb-3">
								<label for="dataNascimento">Data de Nascimento</label>
								<div class="input-group">
									<input type="date" class="form-control" id="dataNascimento"
										   aria-describedby="validationTooltipUsernamePrepend"
										   th:field="*{dataNascimento}" required />
									<div class="invalid-feedback">Data de nascimento é requerida.</div>
								</div>
							</div>		

	                    <div class="mb-3">
	                        <label for="estadoCivil">Estado Civil</label>
			                        <select id="estadoCivil" class="form-control" th:field="*{estadoCivil}">
			                            <option value="">Selecione...</option>
			                            <option th:each="t : ${estadoCivis}" th:value="${t}" th:text="${t.descricao}"></option>
			                        </select>
	                    </div>
<!-- ################################################################################################################################################ -->
	                    <div class="form-group col-md-6">
	                        <label for="cep">Cep</label>
	                        <input type="text" class="form-control" id="cep" data-mask="00000-000" 
	                               th:field="*{endereco.cep}"
	                               th:classappend="${#fields.hasErrors('endereco.cep')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.cep}"></span>
	                        </div>
	                    </div>

	                    <div class="mb-3">
	                        <label for="numero">Logradouro</label>
	                        <input type="text" class="form-control" id="logradouro" th:field="*{endereco.logradouro}"
	                               th:classappend="${#fields.hasErrors('endereco.logradouro')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
			        			<span th:errors="*{endereco.logradouro}"></span>
			   				</div>
	                    </div>
	                    
	                    <div class="form-group col-md-5">
	                        <label for="numero">Número</label>
	                        <input type="text" class="form-control" id="numero" th:field="*{endereco.numero}"
	                               th:classappend="${#fields.hasErrors('endereco.numero')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
			        			<span th:errors="*{endereco.numero}"></span>
			   				</div>
	                    </div>
	                    <div class="form-group col-md-5">
	                        <label for="complemento">Complemento</label>
	                        <input type="text" class="form-control" id="complemento" 
	                               placeholder="fundos, casa, AP. 102, .." th:field="*{endereco.complemento}"
	                               th:classappend="${#fields.hasErrors('endereco.complemento')} ? 'is-invalid'"/>
							<div class="invalid-feedback">
				        		<span th:errors="*{endereco.complemento}"></span>
				   			</div>	
	                    </div>
	                    <div class="form-group col-md-5">
	                        <label for="bairro">Bairro</label>
	                        <input type="text" class="form-control" id="bairro" th:field="*{endereco.bairro}"
	                               th:classappend="${#fields.hasErrors('endereco.bairro')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.bairro}"></span>
	                        </div>
	                    </div>

	                    <div class="form-group col-md-7">
	                        <label for="cidade">Cidade</label>
	                        <input type="text" class="form-control" id="cidade" th:field="*{endereco.cidade}"
	                               th:classappend="${#fields.hasErrors('endereco.cidade')} ? 'is-invalid'"/>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.cidade}"></span>
	                        </div>
	                    </div>
	                    <div class="form-group col-md-5">
	                        <label for="uf">UF</label>
	                        <select id="uf" class="form-control" th:field="*{endereco.uf}"
	                                th:classappend="${#fields.hasErrors('endereco.uf')} ? 'is-invalid'">
	                            <option value="">Selecione...</option>
	                            <option th:each="uf : ${ufs}" th:value="${uf}" th:text="${uf.sigla}"></option>
	                        </select>
	                        <div class="invalid-feedback">
								<span th:errors="*{endereco.uf}"></span>
	                        </div>
	                    </div>
<!-- ################################################################################################################################################ -->
	                    
							<div class="mb-3">
								<label for="senha">Senha</label> 
								<input type="password" class="form-control" id="senha" maxlength="6"
									placeholder="Insira sua senha de acesso" th:field="*{usuario.senha}" required />
								<div class="invalid-feedback">Senha é requerida para confirmar a operação.</div>
							</div>							

							<input type="hidden" th:field="*{id}"> 
							<input type="hidden" id="endereco.id" th:field="*{endereco.id}"/>
							<div class="form-group row">
								<div class="col-sm-10">
									<button type="submit" class="btn btn-primary"
										data-toggle="tooltip" data-placement="right" title="Salvar">
										<i class="fas fa-save"></i>
									</button>
								</div>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>

		</main>

	</section>
	<script	th:src="~{}" th:fragment="js"></script>
	<script th:inline="javascript" th:fragment="inlinescript"></script>
</body>
</html>